/* ------------html-------------- */
body {
  font-family: "Montserrat";
}
h1 {
  font-family:'Montserrat';
  font-weight: bold;
  font-size:3.5rem;
  line-height: 1.5;
}

h2 {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-weight: bold;
  font-size: 19px;
}

P {
  color: #8f8f8f;
}



/* ------------class------------- */
.container-fluid {
  padding: 3% 15%;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.navbar {
  padding: 0 0 4.5rem;
}


.navbar-brand {
  font-family:"Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-family: 'Montserrat';
  font-size: 1.2rem;
}


.nav-item {
  padding: 0 18px;
}


/*--------Title Image--------*/
.title-image {
  width: 60%;
  transform:rotate(25deg);
}



/* ------------ID-------------- */
#title {
  background-color: #ff4c68;
  color: #fff;
   /* #000 is always black */
}

#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}


.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}
